/* It's just a chrome addon - fixed values should do the trick... right? */
.App {  
  height: 500px;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #161616;
}

svg {
  height: 20px;
  padding: 2px;
  fill: none;
  stroke-linejoin: round;
  stroke: #C9C9C9;
  stroke-width: 4px;
  transition-duration: 0.3s;
}

svg:hover {
  stroke: #517EDB;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #646464; 
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #517edb; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #658FE4; 
}